<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <%- include("../partials/head"); %>

  <link rel="stylesheet" href="/assets/css/products.css" />
</head>

<body>
  <header>
    <%- include("../partials/header"); %>
  </header>
  
  <h1 class="product-title">THE Cort</h1>

  <div class="container">
    <div class="left">
      <img src="https://virtualpiano.net/wp-content/uploads/2020/08/Virtual-Guitar-Online-Virtual-Piano.png"
        height="320px" width="350px" />
    </div>
    <div class="right">
      <h1>
        FEATURES
      </h1>
      <h2>
        Alder or Mahogany Body<br>
        Gloss Nitrocellulose Lacquer Finish<br>
        Pure Vintage '63 Single-Coil Tele® pickups<br>
        “Round”-Shaped Neck Profile<br>
        Pure Vintage 3-Saddle Tele® with Threaded Steel Barrel Saddles<br>
        Pure Vintage Single-Line “Fender Deluxe” Tuners<br>
      </h2>
      <div class="button-buy">
        <div class="button-bar">
          <button>
            <img
              src="https://imgs.search.brave.com/XM5qRhf8MNxqTyuAl09tjJX9ZQOzmpTK5DuE7hO8F0c/rs:fit:400:400:1/g:ce/aHR0cDovL2ZyZWV2/ZWN0b3IuY28vd3At/Y29udGVudC91cGxv/YWRzLzIwMDkvMDkv/NDk5NTgtbGlnaHRu/aW5nLWJvbHQtc3lt/Ym9sLW9mLWZsYXNo/LnBuZw"
              width="30px" height="20px">
            BUY NOW</button>
          <button>
            <img
              src="https://imgs.search.brave.com/aUecr4Z_iVEe733FN9ZSv5Y6B1Oj5tesNiQUOZHJFyc/rs:fit:450:470:1/g:ce/aHR0cHM6Ly9jb21w/cy5jYW5zdG9ja3Bo/b3RvLmNvbS9pY29u/LW9mLWNvbnN0cnVj/dGlvbi1jYXJ0LXZl/Y3Rvci1jbGlwYXJ0/X2NzcDQwNDI4OTAy/LmpwZw"
              width="30px" height="20px">
            ADD CART</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="product-description">
    <h2>
      DESCRIPTION
    </h2>
  
    <h3>
      The Fender® American Vintage II series presents a remarkably accurate take on the revolutionary designs that altered
      the course of musical history. Built with period-accurate bodies, necks and hardware, premium finishes and
      meticulously voiced, year-specific pickups, each instrument captures the essence of authentic Fender craftsmanship
      and tone.
  
      By 1963, a new combination of tonewoods married the punch and focus of alder with the warmth added by a round-lam
      rosewood fingerboard, enhancing the signature Tele® twang. Featuring Pure Vintage ‘63 Telecaster® pickups, triple
      threaded-steel saddle bridge and a comfortable “C”-shape maple neck, the American Vintage II 1963 Telecaster
      reproduces the quintessential tone and feel of the original. Characteristic of production in 1963, this Tele
      features clay dots (narrow-spaced at the 12th fret), a 7.25” radius fingerboard fingerboard and is offered in three
      colors: Crimson Red Transparent over mahogany and 3-Color Sunburst or Surf Green over alder.
  
      The instruments in the American Vintage II series are direct descendants of the original Fenders: designed for
      players with a fine appreciation for vintage Fender tone and feel and built with unmatched quality, down to the last
      screw. These are Fender electrics in their purest form: Fender American Vintage II, the stuff of legends.
      <br>
    </h3>
  </div>

</body>

</html>